body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f8f3f3;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #dddfdf;
  color: rgb(9, 9, 9);
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #c2c4c5;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
